@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #007dff;
    --light-primary-color: #f0f8ff;
    --secondary-color: #2c3e50;

    --gradient-primary-color: linear-gradient(45deg, rgba(44,131,251,1) 0%, rgba(31,118,240,1) 100%);

    --light-color: #fff;
    --dark-color: #000;

    --text-color: #2c3e50;
}

.primary-color {
    color: var(--primary-color);
}

.primary-border-color {
    border-color: var(--primary-color);
}

.secondary-border-color {
    border-color: var(--secondary-color);
}

.text-color {
    color: var(--text-color)
}

.bg-light-primary {
    background-color: var(--light-primary-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

.primary-hover:hover {
    color: var(--primary-color);
}

.bg-primary-hover:hover {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-secondary-hover:hover {
    background-color: var(--secondary-color);
}

.primary-border-hover:hover {
    border-color: var(--primary-color);
}

.secondary-border-hover:hover {
    border-color: var(--secondary-color);
}
